:root {
    --bs-primary: #6f42c1; /* Purple */
}

/* Optional: Customize other colors to match the theme */
/* --bs-secondary: #563d7c;
--bs-info: #6610f2;
--bs-danger: #d63384; */

@font-face {
    font-family: "PressStart2P";
        src: url("../assets/PressStart2P.eot");
        src: url("../assets/PressStart2P.ttf")format("truetype");
}

.btn {
    border-radius: 0;
}

.center_text {
    text-align: center;
}

#background_image {
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: -100;
}

body {
    overflow: hidden;
    /* font-family: 'Playfair Display', serif; */
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-image: url('../assets/wallpaper.jpg');
    /* background-image: url('../assets/forest_wallpaper.jpg'); */
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.card {
    background-color: rgba(77, 61, 44, 1);
    color: #ffffff;
    border: 5px solid #282019;
    border-radius: 0;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

canvas {
    /* background: #000;  */
    display: block; 
    margin: 0 auto;
    border: 5px solid #282019;
    /* background-image: url("../assets/battle_background.gif"); */
}

#title {
    text-align: center;
    padding-bottom: 10px;
}